// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input

include "inputs.kdl"
include "screen.kdl"
include "layout.kdl"
include "keybind.kdl"
include "startup.kdl"
include "alt-tab.kdl"
include "window-rule.kdl"
include "unravel.kdl"

prefer-no-csd

cursor {
    xcursor-theme "capitaine-cursors"
    xcursor-size 28
}

hotkey-overlay {
    // skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 1
}

blur {
   passes 3        // more passes = stronger blur (default: 3)
   offset 4.5     
}














