layout {

    background-color "transparent"
    // Set gaps around windows in logical pixels.
    gaps 24

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "on-overflow"
    always-center-single-column 

    
    // You can customize the widths that "switch-preset-column-width" 
    preset-column-widths {
        proportion 0.5
        proportion 0.95
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }

    // You can change how the focus ring looks.
    focus-ring {
        // Disables the focus ring
        off

        // How many logical pixels the ring extends out from the windows.
        width 4
        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.
        //active-color "#7fc8ff"
        inactive-color "#505050"
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
	
    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        
        // on
        width 3
        active-color "#5a524c"
        inactive-color 	"#202020"

        // Color of the border around windows that request your attention.
        urgent-color "#ea6962"


        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // enables shadows
        on
        draw-behind-window false
        // Softness controls the shadow blur radius.
        softness 20
        // Spread expands the shadow.
        spread 2
        // Offset moves the shadow relative to the window.
        offset x=0 y=3
        // You can also change the shadow color and opacity.
        color 	"#0f0f0f"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}