environment {
 GTK_THEME "Adwaita:dark"
 ELECTRON_OZONE_PLATFORM_HINT "auto"
 _JAVA_AWT_WM_NONREPARENTING "1"
 XDG_CURRENT_DESKTOP "GNOME"
}
//spawn-at-startup "waybar"
// Spawning quickshell
spawn-at-startup "quickshell"
// spawn-at-startup "swaync"
spawn-at-startup "swayidle" "-w" "timeout" "150" "brightnessctl -s set 10%" "resume" "brightnessctl -r" "timeout" "180" "loginctl lock-session" "resume" "qs ipc call quickshell-bar wakelock" "timeout" "1800" "systemctl suspend" "before-sleep" "loginctl lock-session" "after-resume" "sleep 1; qs ipc call quickshell-bar wakelock" "lock" "pidof quickshell && qs ipc call quickshell-bar lockscreen"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww" "restore"
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
